<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>战略忽悠局人员管理系统</title>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>学历管理系统</h1>
        <p>code by YiFan-Li &amp; Peng-Xiao</p>
    </div>
</div>
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Education</li>
</ol>
<div class="row">
    <div class="col-md-8 col-md-offset-3">
        <a href="/getEducations" class="btn btn-info">获取所有学历信息</a>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#selectModal">查询学历信息</button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">添加学历信息</button>
        <button type="button" data-toggle="modal" data-target="#editModal" class="btn btn-info">修改学历信息</button>
    </div>
</div>
<div class="row" th:if="${msg} ne null">
    <div class="alert alert-danger alert-dismissible col-md-3 col-md-offset-4 text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong th:text="${msg}"></strong>
    </div>
</div>
<div class="row" th:if="${educations} ne null">
    <div class="col-md-10 col-md-offset-2">
        <table class="table table-striped table-hover">
            <div class="col-md-10">
                <table class="table table-hover" id="works_table">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>学历</th>
                        <th>专业</th>
                        <th>毕业时间</th>
                        <th>毕业院校</th>
                        <th>外语等级</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="edu:${educations}">
                        <td th:text="${converter.convert(edu.employeeId)}"></td>
                        <td th:text="${edu.eduBackground}"></td>
                        <td th:text="${edu.major}"></td>
                        <td th:text="${edu.graduateDate}"></td>
                        <td th:text="${edu.graduateSchool}"></td>
                        <td th:text="${edu.foreignLang}"></td>
                        <td id="operateCol">
                            <a th:attr="delete_btn='true'" th:href="@{/education/delete}" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </table>
    </div>
</div>
<!--职工信息添加模态框-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加职工信息</h4>
            </div>
            <div class="modal-body">
                <form id="addForm" action="http://localhost:8080/employee/add" method="post">
                    <div class="form-group">
                        <label for="addIDInput">职工号</label>
                        <input type="text" class="form-control" id="addIDInput" name="employeeId" placeholder="如：e-001"/>
                    </div>
                    <div class="form-group">
                        <label for="addNameInput">姓名</label>
                        <input type="text" class="form-control" id="addNameInput" name="employeeName" placeholder="如：张三"/>
                    </div>
                    <div class="form-group">
                        <label for="addAgeInput">年龄</label>
                        <input type="text" class="form-control" id="addAgeInput" name="age" placeholder="如：25"/>
                    </div>
                    <div class="form-group">
                        <label for="addPostInput">岗位</label>
                        <select name="postNumber" id="addPostInput" class="form-control">
                            <option th:each="post:${posts}" th:text="${post.postName}" th:value="${post.postId}">

                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addHireDateInput">入职时间</label>
                        <input type="text" class="form-control" id="addHireDateInput" name="hireDate" placeholder="如：2009-12-1"/>
                    </div>
                    <div class="form-group">
                        <label for="addTitleInput">职称</label>
                        <input type="text" class="form-control" id="addTitleInput" name="title" placeholder="如：高级工程师"/>
                    </div>
                    <div class="form-group">
                        <label for="addDeptInput">部门</label>
                        <select name="deptNumber" id="addDeptInput" class="form-control">
                            <option th:each="dept:${depts}" th:text="${dept.deptName}" th:value="${dept.deptId}">

                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>婚姻情况</label>
                        <input type="radio" name="isMarried" value="1">已婚&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="isMarried" value="0" checked>未婚
                    </div>
                    <input id="submit_btn" type="submit" value="添加" class="btn btn-success"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>